// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
@kabaDarkGray:					#4c4c4c;
@kabaLightGray:                 #eee;
@kabaTextGray:					#808080;



// Accent colors
// -------------------------
@kabaBlue:						#04284d;
@kabaLightBlue:					#d5dbe0;