// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
@kabaDarkGray:					#4c4c4c;
@kabaLightGray:                 #eee;
@kabaTextGray:					#808080;



// Accent colors
// -------------------------
@kabaBlue:						#04284d;
@kabaMiddleBlue:				#8d97a6;
@kabaLightBlue:					#d5dbe0;


// Sprite icons path
// -------------------------
@kabaIconSpritePathDarkGray:          "../img/glyphs_darkgray.png";
@kabaIconSpritePathWhite:    		  "../img/glyphs_white.png";
@kabaIconSpritePathMiddleBlue:        "../img/glyphs_middleblue.png";